# copy this file to ../server/.env
# and add your keys from AI providers/platforms
#
# Note: in ../ui/src/routes/types.ts
# the key is refered to as "apiKeyName": "OPENAI_API"
# but "_KEY" is added by the server to locate the
# key in the ../server/.env file
# removing the "_KEY" may prevent quality check alerts
ANTHROPIC_API_KEY=none
OPENAI_API_KEY=none
GROQ_API_KEY=none
OLLAMA_API_KEY=ollama
GOOGLE_API_KEY=none
# test that the environment variables load
TEST_SETTING=test
